@use "../../../styles/animations.scss";

.mainContainer {
    min-height: 100vh;
}

.hidden {
    visibility: hidden;
}

.fadeIn {
    visibility: visible;
    animation: animations.$fadeInBottomAnimation;
}